.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
	grid-template-areas:
	". . ."
	". . ."
	". . ."
	". . ."
	". a ."
  width                    : 100vw;
	height                   : 100vh;
	background               : url("../img/hello.jpg") no-repeat scroll;
	-webkit-background-size  : cover;
	-moz-background-size     : cover;
	background-size          : cover;
	-o-background-size       : cover;
	background-position      : bottom center !important;
}

.my-name-central {
	grid-area: a;
	grid-column: 2;
	grid-row: 5;
	align-self: center;
}

.my-name-central h1 {
	font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.my-name-central h2 {
  max-width: 20rem;
  font-size: 1rem;
}

.custom-icon {
	color: rgba(255, 255, 255, 0.9);
}